.ms-board {
    display: flex;
    text-align: center;
    margin: auto;
    width: fit-content;
}

.ms-cell {
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ddd;
    font-weight: bold;
}

.ms-cell.open {
    background-color: #fff;
}

.message {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.restart-button {
    width: 100%;
    text-align: center;
}